@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Merriweather+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@400;500;600;700;800&family=Racing+Sans+One&family=Roboto:wght@100&display=swap');
